NODE_ENV=development
PORT=3000

TNS_PATH=
ORACLE_CLIENT_PATH=
ORACLE_DB_NAME=
ORACLE_USER=
ORACLE_PWD=
APP_ID=
JWT_SECRET=
ENABLE_LOGGING=true
LOG_LEVEL=DEBUG
WS_LOG_SERVER_URL=

VAULT_URL="http://192.168.55.25:8200"
VAULT_USER=
VAULT_PWD=
VAULT_GLOBAL_PATH=
VAULT_PROJECT_PATH=
